@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom scrollbar styling */
ul::-webkit-scrollbar {
    width: 6px; /* Thin width */
}

ul::-webkit-scrollbar-track {
    background: #334155; /* Slate-700 */
}

ul::-webkit-scrollbar-thumb {
    background-color: #64748b; /* Slate-500 */
    border-radius: 10px;
}